@charset "utf-8";
@font-face {
    font-family: "Gotham-Light";
    src: url('fonts/GothaProLig.otf') format("opentype");
    font-weight: lighter;
}
@font-face {
    font-family: "Gotham-Regular";
    src: url('fonts/GothaProReg.otf') format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-Medium";
    src: url('fonts/GothaProLig.otf') format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-Bold";
    src: url('fonts/GothaProBol.otf') format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Gotham-Black";
    src: url('fonts/GothaProBla.otf') format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family: "PatuaOne";
    src: url('fonts/PatuaOne-Regular.ttf') format("truetype");
    font-weight: normal;
}
body {
    position: relative;
}
.right-leaf {
    position: absolute;
    width: 12vw;
    right: 0;
    top: 67vh;
}
.left-leaf {
    position: absolute;
    width: 10vw;
    left: 0;
    top: 107vh;
}
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    z-index: 0;
	display: block;
	overflow: hidden;

}
.group:before, .group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.screen1 {
    text-align: center;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
    padding: 3vmax 20vmin;
    font-size: 36px;
}
.screen1 .screenbg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}
.screen1 h1 {
    font-size: 2.5vw;
    font-family: "PatuaOne";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    z-index: 1;
    line-height: 2em;
    display: block;
}
.screen1 h2 {
    font-size: 5vw;
    font-family: "PatuaOne";
    color: rgb(225, 191, 23);
    text-align: center;
    line-height: 2em;
    display: block;
}
.screen1 h3 {
    font-size: 3vw;
    font-family: "PatuaOne";
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 117;
    line-height: 2em;
    display: block;
}
.screen1 h4 {
    font-size: 2vw;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    z-index: 115;
    text-align: center;
    line-height: 1em;
    display: inline-block;
}
.table {
    padding: 3vmax 20vmin;
}
.tabletext h1 {
    font-size: 36px;
    font-family: "Patua One";
    color: rgb(13, 66, 56);
    text-align: center;
    margin-top : 15vmax;
}
.table .tableheader {
    display: inline-block;
}
.plants {
    display: inline-block;
    position: relative;
    line-height: 5px;
}
.input-text {
    padding: 40px 30px 40px 60px;
    position: absolute;
    top: 0px;
}
.section .input-text h3 {
    font-family: "PatuaOne";
    font-size: 20px;
    color: #fff;
    line-height: 1;
    margin-top: 1em;
}
.section .input-text h4 {
    font-family: "PatuaOne";
    font-size: 28px;
    color: #fff;
    backgrond: #fff;
    line-height: 2;
}
.section .input-text h5 {
    font-family: "Gotham-Light";
    font-size: 12px;
    color: #9f9f9f;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}
.section .box {
    background-color: #fff;
    height: 30px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: -25px;
    font-family: PatuaOne;
    color: #0d4238;
    font-size: 20px;
    width: 45%;
    text-align: center;
}
.how {
    width: 18.72%;
}
.flash {
    width: 18.72%;
}
.mint {
    width: 18.72%;
}
.kush {
    width: 18.72%;
}
.haze {
    width: 18.72%;
}
.plants h2 {
    font-size: 28px;
    font-family: "Patua One";
    color: rgb(13, 66, 56);
    line-height: 1.464;
    text-align: left;
    display: inline-block;
    max-width: 150px;
    float: left;
}
.table #arrow {
    display: inline-block;
    padding: 120px 0;
    vertical-align: top;
}
.table #arrow-small {
    display: none;
    vertical-align: middle;
    padding: 42px 0;
}
.table #input {
    display: inline-block;
}
.table .maintable table {
    border-collapse: collapse;
    width: 100%;
    font-family: "PatuaOne";
    font-size: 18px;
    color: #62ba8b;
    margin-bottom: 0px;
}
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child {
    margin-left: 0;
}
#table .maintable table {
    border-collapse: collapse;
    width: 100%;
    font-family: "PatuaOne";
    font-size: 18px;
    color: #62ba8b;
    margin-bottom: -100px;
}
th {
    color: transparent;
    padding: 20px 0;
    font-size: 0px;
}
th, td {
    text-align: center;
    padding: 8px;
    max-width: 18.79%;
}
tr td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #0d4238;
    padding-left: 1vmax;
    max-width: 0px;
    text-align: left;
}
tr td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 1.2vmax;
}
tr:nth-child(even) {
    background-color: #f3faf6;
}
.footer {
    max-width: 100%;
    z-index: 0;
    padding: 3vmax 20.5vmin;
    margin-top: 30vh;
}
.footer #main-footer {
    max-width: 100%;
    z-index: 0;
    padding: 400px 0px 650px 0px;
}
.footer .left-footer {
    float: left;
    max-width: 70%;
    display: inline-block;
}
.footer .left-footer h1 {
    font-size: 3vw;
    font-family: "Patua One";
    color: rgb(13, 66, 56);
    text-align: left;
    display: block;
}
.footer .left-footer ul {
    padding-bottom: 60px;
}
.footer .left-footer .list1 {
    font-size: 1.4vw;
    font-family: "Gotham Pro";
    color: rgb(13, 66, 56);
    line-height: 1.667;
    text-align: left;
    list-style: none;
    margin-left: -30px;
    display: inline-block;
}
.footer .left-footer .list1 li {
    padding: 15px 0;
}
.footer .left-footer .list2 {
    font-size: 1.4vw;
    font-family: "Gotham Pro";
    color: rgb(13, 66, 56);
    line-height: 1.667;
    text-align: left;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.footer .left-footer .list2 li {
    padding: 15px 0;
}
.footer .right-footer {
    width: 30%;
    margin-right: -80px;
    position: relative;
    padding: 2vw 0vw 2vw 11vw;
    display: none;
}
.footer .right-footer h1 {
    font-size: 2vw;
    font-family: "Patua One";
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 13;
}
.footer .right-footer .button {
    background-image: url("../images/tel-button.png") no-repeat center center;
    background-size: contain;
    transform: scale(0.5);
    padding-left: 80px;
    margin-top: -20px;
    position: relative;
}
.leaf {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 50vw;
    display: none;
}
.tele {
    padding: 40px 30px 40px 60px;
    position: absolute;
    top: 0px;
}
#bg-footer {
    background: #f3faf6;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 85px;
    z-index: -2;
    transform: skewY(-5deg);
}
#bg-footer2 {
    background: #f3faf6;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    z-index: -2;
}
.right-footer1 {
    width: 70%;
    display: inline-block;
    height: auto;
    position: relative;
    float: right;
    margin-right: -250px;
    margin-top: -800px;
}
.right-footer-leaf {
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    margin-bottom: -20px;
	overflow: visible;
	margin-left: -30px;
}

@media only screen and (min-width: 800px) and (max-width: 1025px) {
.right-footer {
    width: 30%;
    position: relative;
    margin: 8vw 6vw 2vw -3vw;
    display: none;
}
.leaf {
    width: 55vw;
    display: none;
}
.button {
    margin: 18vw 6vw 2vw -6vw;
    padding-top: 3vw;
}
.input-text {
    padding: 20px 9px 20px 30px;
    position: absolute;
    top: 0px;
}
.section .input-text h3 {
    font-family: "PatuaOne";
    font-size: 15px;
    color: #fff;
    line-height: 1;
    margin-top: 3em;
    padding-left: 3.9em;
}
.section .input-text h4 {
    font-family: "PatuaOne";
    font-size: 24px;
    color: #fff;
    backgrond: #fff;
    line-height: 1;
    padding-left: 2.3em;
    padding-top: 0.5em
}
.box {
    margin-top: 0.7em;
    float: right;
    padding-left: 2em;
}
.juicy {
    transform: scale(0.7)
}
.how {
    width: 15%;
}
.plants h2 {
    font-size: 20px;
    margin-top: 50px;
}
.table #arrow {
    display: inline-block;
    padding-left: 120px;
    vertical-align: top;
}
#bg-footer {
    height: 20%
}
.footer {
    padding-top: 120px;
}
.right-footer1 {
    width: 60%;
    display: inline-block;
    height: auto;
    position: relative;
    float: right;
    margin-right: -80px;
    margin-top: -430px;
    margin-bottom: -20px;
}
.right-footer1 {
    width: 60%;
    display: inline-block;
    height: auto;
    position: relative;
    float: right;
    margin-right: -120px;
    margin-top: -430px;
    margin-bottom: -20px;
}
}

@media only screen and (max-width: 1700px) {
.table {
    padding: 3vmax 5vw;
}
.footer .right-footer {
    padding: 5vw 5vw 5vw 5vw;
}
.footer .right-footer {
    width: 30%;
    position: relative;
    padding: 6vw 0vw 2vw 11vw;
}
.footer {
    max-width: 100%;
    z-index: 0;
    padding: 650px 80px 0 80px;
    margin-top: 20vh;
}
#bg-footer {
    height: 21%
}
.footer {
    padding-top: 50px;
}
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
.juicy {
    transform: scale(0.65);
}
.how {
    width: 5%;
}
.table h2 {
    font-size: 18px;
    margin-top: 50px;
}
.table #arrow {
    display: inline-block;
    padding: 0 0 0 50px;
    vertical-align: top;
}
.input-text {
    padding: 0;
    margin-left: 50px;
    width: 100%
}
.section .input-text h3 {
    padding: 0;
    font-size: 15px;
    margin: 75px 0 0 40px;
}
.section .input-text h4 {
    padding: 10px 0 0 40px;
}
.section .box {
    margin: 5px -5px 0 0;
}
#bg-footer {
    height: 31%;
}
.footer {
    padding: 70px 40px;
}
.footer .right-footer h1 {
    padding : 40px 190px 10px 10px;
    margin-left: -30px;
}
.footer .right-footer .button {
    transform: scale(0.4);
    padding-left: 0px;
    margin-left: -60px;
    margin-top: -40px
}
.footer .left-footer {
    width: 50%;
}
.footer .right-footer {
    width: 50%;
}
.list-icon {
    transform: scale(0.6)
}
.footer .left-footer .list1 li {
    padding: 10px 0px 0 0;
    font-size: 15px;
}
.footer .left-footer .list2 li {
    padding: 10px 0 0 0;
    margin-left: -30px;
    font-size: 15px;
}
.footer .left-footer ul {
    padding : 0 0 0 20px;
}
.leaf {
    height: 80vh;
    width: auto;
    display: none;
}
.right-footer1 {
    width: 70%;
    display: inline-block;
    height: auto;
    position: relative;
    float: right;
    margin-right: -25px;
    margin-top: -220px;
    margin-bottom: -20px;
}
}

@media only screen and (max-width: 480px) {
.col {
    margin: 1% 0 1% 0%;
}
.how {
    width: 100%;
}
.flash {
    width: 100%;
}
.mint {
    width: 100%;
}
.kush {
    width: 100%;
}
.haze {
    width: 100%;
}
.tabletext h1 {
    margin-top: 0.5em;
}
.table #arrow-small {
    display: inline-block;
}
.table #arrow {
    display: none;
}
tr td:first-child {
    padding: 20px 40px 20px 20px
}
.table .maintable th {
    color: #0d4238;
    font-size: 12px;
}
.footer {
    padding: 60px 0px 0px 15px;
}
.footer .left-footer h1 {
    font-size: 20px;
    padding-left: 40px;
}
.footer .left-footer {
    display: block;
    float: none;
    max-width: 100%;
    margin-bottom: -50px;
}
.footer .right-footer h1 {
    font-size: 18px;
    width: 100%;
    display: block;
    font-family: "PatuaOne";
    margin-bottom: 20px;
}
.footer .left-footer {
    width: 100%;
    padding : 0;
}
.footer .right-footer {
    width: 55%;
    padding: 0;
    margin: 120px 50px 0 80px;
}
.footer .left-footer .list1 {
    font-size: 11px;
    max-width: 60%;
    padding: 0 0 0 10px;
    font-family: "PatuaOne"
}
.footer .left-footer .list2 {
    font-size: 11px;
    max-width: 50%;
    padding: 0;
    font-family: "PatuaOne";
    z-index: 2;
    margin-left: -20px
}
.footer .left-footer .list-icon {
    transform: scale(0.5);
    margin-right: -10px;
}
.footer .left-footer .list1 li {
    padding: 5px 0;
}
.footer .left-footer .list2 li {
    padding: 5px 0;
}
.footer .right-footer .button {
    padding: 0;
    display: block;
    max-width: 100%;
    margin-bottom: 60px;
}
.footer .left-footer .list1 li {
    padding: 5px 0;
}
.footer .left-footer .list1 li .crowd {
    padding: 5px 0;
    list-style-image: url("../images/crowdgrowing.png");
}
.footer .left-footer .list2 li {
    padding: 5px 0;
}
.leaf {
    width: 100vw;
    display: none;
}
#bg-footer {
    height: 16%;
}
.right-footer1 {
    width: 100%;
}
	.right-footer-leaf {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 320px) {
.footer {
    padding: 60px 0px 0px 15px;
}
.footer .left-footer .list1 {
    font-size: 9px;
    max-width: 60%;
    padding: 0 0 0 10px;
    font-family: "PatuaOne";
}
.footer .left-footer .list2 {
    font-size: 9px;
    max-width: 50%;
    padding: 0 0 0 0px;
    font-family: "PatuaOne";
    margin-left: -20px
}
.footer .right-footer h1 {
    font-size: 14px;
    width: 100%;
    display: block;
    font-family: "PatuaOne";
    margin-bottom: 15px;
}
#bg-footer {
    height: 15%;
}
.footer .left-footer h1 {
    font-size: 20px
}
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
.right-footer1 {
    width: 70%;
    display: inline-block;
    height: auto;
    position: relative;
    float: right;
    margin-right: -100px;
    margin-top: -620px;
    margin-bottom: -20px;
}
	.juicy {
		transform: scale(0.9)
	}
	.how {
		width: 16%;
	}
}

@media only screen and (max-width: 325px) {
.screen1 {
    text-align: center;
    max-width: 100%;
    display: inline-block;
    padding: 10px 20px 80px 20px;
    font-size: 36px;
    position: relative;

}
.screen1 .screenbg {
    width: 200%;
    position: absolute;
    top: 0;
    left: -50%;
    z-index: -5;
}
.screen1 h1 {
    font-size: 20px;
    font-family: "PatuaOne";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    z-index: 1;
    line-height: 2em;
    display: block;
}
.screen1 h2 {
    font-size: 20px;
    font-family: "PatuaOne";
    color: rgb(225, 191, 23);
    text-align: center;
    line-height: 1em;
    display: block;
    margin-top: 15px;
}
.screen1 h3 {
    font-size: 15px;
    font-family: "PatuaOne";
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 117;
    display: block;
    margin-top: 15px;
}
.screen1 h4 {
    font-size: 10px;
    font-family: "Gotham-Medium";
    color: rgb(255, 255, 255);
    z-index: 115;
    text-align: center;
    line-height: 1em;
    display: inline-block;
    margin-top: 15px;
}
}

@media screen and (width: 768px) and (height: 1024px) {
.section .input-text h3 {
    padding: 0;
    font-size: 15px;
    margin: 75px 0 0 40px;
}
.section .input-text h4 {
    padding: 0px 0 0 40px;
}
.section .box {
    height: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: -20px;
    margin-left: 40px;
}
.table .maintable table {
    margin-bottom: 0;
}
}
@media screen and (width: 834px) and (height: 1112px) {
.section .input-text h3 {
    padding: 0;
    font-size: 15px;
    margin: 75px 0 0 40px;
}
.section .input-text h4 {
    padding: 0px 0 0 40px;
}
.section .box {
    height: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: -20px;
    margin-left: 40px;
}
.table .maintable table {
    margin-bottom: 0;
}
.right-footer1 {
    width: 60%;
    display: inline-block;
    height: auto;
    position: relative;
    float: right;
    margin-right: -120px;
    margin-top: -330px;
    margin-bottom: -40px;
}
	.how {
    width: 9%;
}
	.table #arrow {
    display: inline-block;
    padding-left: 90px;
    vertical-align: top;
    margin-top: -150px;
}
	.input-text {
    padding: 0px 0px 0px 45px;
    position: absolute;
    top: 0px;
    margin-right: -20px;
}
	.section .box {
    height: 25px;
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: -50px;
    width: 40px;
}
}
